.homelayout {
	width: 50vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.hometext {
	font-size: 15vmin;
	width: auto;
	height: auto;
	margin-top: 5vh;
	margin-left: 5vw;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.hometext-bottom {
	margin-bottom: 10vh;
	margin-left: 5vw;
	font-size: 5vmin;
	font-family: 'Lato', sans-serif;
}

.ylw {
	color:  #f9ce19;
}
